<app-navbar></app-navbar>
<br />
<div style="height:550px;width:50%;border:2px;border-style:solid;color:green;border-radius:15px;">

  <h3 style="color:orangered">@Input and @Output Decorator for data transfer between child and parent components</h3>

  Parent Component : <br />
  <br />

  <h3 style="color:blueviolet">{{message}}</h3>
  <div style="height:250px;width:50%;border:2px;border-style:solid;color:green;border-radius:15px;">
    Child Component : <br />
    <app-child (childEvent)="message=$event" [pval]="name"> </app-child>
  </div>

</div>

