<app-navbar></app-navbar>

<h1>Working with <b>Reactive Forms</b></h1><br>
<label>
  Name
  <input type="text" class="form-control" [formControl]="name" />
</label>
<p>Displaying a form control value :<strong>{{name.value}}</strong> </p>
<button type="button" class="btn-warning" (click)="updateName()">Update Name</button>
<h3>Grouping Form controls</h3>
<div class="jumbotron">
  <div class="container">
    <div class="row">

      <div class="col-lg-6" style="background-color:lavender;">
        <form [formGroup]="editorFormGrop" (ngSubmit)="onSubmit()">

          <input type="hidden" class="form-control" formControlName="Id" />

          <div class="form-group">
            <label>
              First Name :
              <input type="text" class="form-control" formControlName="FirstName"   required placeholder="Enter first name" />
            </label><br />

            <div class="validation-error" *ngIf="f.FirstName.invalid && f.FirstName.touched">This Field is Required.</div>
            <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
    <div *ngIf="f.FirstName.errors.required">First Name is required</div>-->
          <</div>
          </div>


      <div class="form-group">
        <label>
          Last Name :
          <input type="text" class="form-control" formControlName="LastName" required placeholder="Enter last name" />
        </label>

        <div class="validation-error" *ngIf="f.LastName.invalid && f.LastName.touched">This Field is Required.</div>

        <!--<div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
  </div>-->
      </div>

          <!--<div class="form-group">
        <label>
          Email :
          <input type="email" class="form-control" formControlName="Email" *ngIf="email.value !== '' && Email.untouched && Email.invalid" required placeholder="abc@xyz.com"
                 [ngClass]="{ 'is-invalid': submitted && f.Email.errors  }" />
        </label>
        <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
          <div *ngIf="f.Email.errors.required">Email is required</div>
        </div>
      </div>-->
          <!--<div formGroupName="addressGroup">-->


          <h3>Address</h3>

          <div class="form-group">
            <label>
              City :<input type="text" class="form-control" formControlName="City" required placeholder="Enter City" />
            </label><br />

            <div class="validation-error" *ngIf="f.City.invalid && f.City.touched">This Field is Required.</div>

            <!--<div *ngIf="submitted && f.city.errors" class="invalid-feedback">
    <div *ngIf="f.city.errors.required">City is required</div>
  </div>-->
          </div>

          <div class="form-group">
            <label>
              State :<input type="text" class="form-control" formControlName="State" required placeholder="Enter State"/>

            </label><br />
            city
            <!--<div *ngIf="submitted && f.state.errors" class="invalid-feedback">
              <div *ngIf="f.state.errors.required">State is required</div>
            </div>-->
          </div>

          <div class="form-group">
            <label>
              ZipCode :<input type="text" class="form-control" formControlName="ZipCode" required placeholder="Enter Zip code"
                      pattern="[0-9]+" minlength="6" maxlength="6" />
            </label><br />
            <!--<div *ngIf="submitted && f.zipCode.errors" class="invalid-feedback">
              <div *ngIf="f.zipCode.errors.required">Zip code is required</div>
            </div>-->
          </div>

          <div class="form-group">
            <label>
              <!--(keypress)="onlyNumberKey($event)"-->
              Mobile no. :<input type="text" pattern="[0-9]+" minlength="10" maxlength="10" class="form-control" formControlName="Mobno" required
                               placeholder="+91" />
            </label><br />
            <!--<div *ngIf="submitted && f.mobno.errors" class="invalid-feedback">
              <div *ngIf="f.mobno.errors.required">Mobile no. is required</div>
            </div>-->
          </div>

          <div class="form-group">
            <label>
              <!--(keypress)="onlyNumberKey($event)"-->
              Email :<input type="text" #email [pattern]="emailPattern" class="form-control" formControlName="Email" required
                            placeholder="abc@xyz.com" />
            </label><br />
            <!--<div *ngIf="f.email.errors && (f.Email.touched||f.Email.invalid)">
              <small class="text-danger" [class.d-none]="f.Email.valid||f.Email.untouched">Email is required</small>
            </div>-->
            <!--Touched: {{f.email.touched}}
            Invalid: {{f.email.invalid}}
            Errors: {{f.email.errors.required}}-->

            <!--<div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
    <div *ngIf="f.Email.errors.required">Email is required</div>
  </div>-->
          </div>

          <p>
            Form Status :{{editorFormGrop.status}}
          </p>

          <!--</div>-->

          <button [disabled]="!editorFormGrop.valid" type="submit" class="btn-success">Submit</button>
          <button type="button" (click)="reset(editorFormGrop.value)" class="btn-warning">Reset</button>


        </form>

        <strong>Form Values : </strong>  {{editorFormGrop.value|json}}
      </div>
      <!--<div class="col-lg-6"><app-registerdetails></app-registerdetails></div>-->
      <div class="col-lg-6">

        <table class="table table-striped table-hover">

          <tr *ngFor="let emplist of reactiveformsService.EmployeeList">

            <td>{{emplist.Id}}</td>
            <td>{{emplist.FirstName}}</td>

            <td><a class="btn" (click)="ShowOrEdit(emplist)"><i class="fa fa-pencil-square-o"></i></a></td>
            <td><a class="text-danger" (click)="deleteEmployee(emplist.Id)"><i class="fa fa-trash-o"></i></a></td>
          </tr>
        </table>
      </div>


      </div>
    </div>
</div>
