

<app-navbar> </app-navbar>
<br />
<br />
<h1 style="color:green;align-content:flex-end">   Welcome, you are now logged in!!!</h1>
<br />

<!--<img style="height:300px;width:750px;" src="../../assets/Img/learn-angular-from-scratch-step-by-step-categories.png" />-->
<!--<img src="../../assets/Img/Best-Homepages--796x563.jpg" />-->
<!--<img style="height:300px" src="../../assets/Img/angularjs-awwwards-blog.png" />-->
<!--<img style="height:600px;" src="../../assets/Img/Angular Homepage.png" />-->
