

<div style="width:1350px; height:80px;background-color:blueviolet">

  <div class="row">

    <div class="col-md-3">
      <a [routerLink]='["/home"]'> <img src="../../assets/Img/logo-nav@2x.png" /></a> 
    </div>
    <div class="col-md-8">
      <div class="dropdown">
        <button class="dropbtn"><strong>Basics</strong></button>
        <div class="dropdown-content">
          <a [routerLink]='["/counter"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-education'></span> Counter
          </a>
          <a [routerLink]='["/BasicReactive"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> Reactive Form
          </a>
          <a [routerLink]='["/BasicTemplate"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> Template Form
          </a>
          <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> Fetch data
          </a>
          <a [routerLink]='["/Hero"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> Tour of Hero
          </a>
          <a [routerLink]='["/dynamiccontrols"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> Dynamic controls
          </a> <a [routerLink]='["/parent"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> Data Transfer methods
          </a>
        
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn"><strong>Forms</strong> </button>
        <div class="dropdown-content">
          <!--<a [routerLink]='["/SignUp"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> Sign Up
          </a>-->
          <a [routerLink]='["/Forms"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span>Dynamic Reactive Forms
          </a>
          <a [routerLink]='["/allcontrols"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span>Dynamic Template Forms
          </a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn"><strong>CRUD Operations & API</strong></button>
        <div class="dropdown-content">
          <a [routerLink]='["/Employee"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> CRUD operation  using external API
          </a>
          <a [routerLink]='["/mycontroller"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> CRUD operation without external API
          </a>
          <a [routerLink]='["/fileupload"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> File upload
          </a>
          <a [routerLink]='["/APIExample"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> Consuming API in App
          </a>
        </div>

      </div>
      <div class="dropdown">
        <button class="dropbtn"><strong>Grid</strong></button>
        <div class="dropdown-content">
          <a [routerLink]='["/grid"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> ag GRID
          </a>
          <a [routerLink]='["/igxgrid"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-th-list'></span> IGX GRID
          </a>

        </div>

      </div>
    </div>
    <div class="col-md-1">
      <input type="button" class="btn-warning"  routerLink='/' value="LogOut"/>
    </div>

  </div>
  <!--<img src="../../assets/Img/logo-nav@2x.png" />-->
  



  


  <div class="dropdown" style="width:648px" align="right">
    <!--<input type="button" class="btn-warning" routerLink='/' value="LogOut" />-->
    <!--<div align="right">

    </div>-->


  </div>

</div>
