<p>
  registerdetails works!
</p>
<!--<table class="table table-sm table-hover">
  <tr *ngFor="let employee of employeeList">
    <td>{{employee.firstName}} - {{employee.lastName}}</td>
    <td>{{employee.gender}}</td>
    <td>
      <a class="btn" (click)="showForEdit(employee)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn text-danger" (click)="onDelete(employee.EmployeeID)">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
  </tr>
</table>-->
<h1>The values is : </h1>{{message}}
